.footer h1, .footer p, .footer button {font-family: 'Poppins';}
.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #A561C5;
}

.CardList {
    display: flex;
    height: 12vw;
    width: 96vw;
}
.CardSuport {
    width: 28vw;
}
.CardSobre {
    width: 20vw;
}
.Card, .CardContacts {
    display: flex;
    flex-direction: column;
    margin-right: 3vw;
    margin-left: 1vw;
    margin-top: 1vw;
}
.CardContacts {margin-left: 4vw; margin-top: 1.5vw;}
.Card h1, .CardContacts h1 {
    font-size: 1.6vw;
    padding-top: 1vw;
    margin-left: 0.4vw;
    margin-bottom: 0.4vw;
    color: aliceblue;
    font-weight: 500;
}
.CardContacts h1 {font-weight: 300;}
.Card button {
    background: none;
    color: aliceblue;
    align-self: flex-start;
    border: none;
    margin-bottom: 0.1vw;
    font-weight: 200; 
    font-size: 1.5vw;
    transition: 0.2s;
}
.Card button:hover {
    transition: 0.1s;
    margin-bottom: 0;
    font-size: 1.55vw;
    font-weight: 300; 
}


.CardContacts .box {
    width: 10vw;
    height: 3.5vw;
}
.box button {
    width: 50%;
    height: 100%;
    background: none;
    border: 0;
}

.InstagramIcon, .YoutubeIcon {
    background-repeat: no-repeat;
    background-size:contain;
    width: 100%;
}
.InstagramIcon {background-image: url('../images/InstagramIcon.svg');height: 80%;transition: 0.1s;}
.InstagramIcon:hover{
    height: 90%;
    transition: 0.1s;
}

.YoutubeIcon {background-image: url('../images/YoutubeIcon.svg');height: 75%;transition: 0.1s;}
.YoutubeIcon:hover{
    height: 85%;
    transition: 0.1s;
}

.imgLogo {
    background-image: url('../images/YumeLogo.svg');
    background-repeat: no-repeat;
    background-size:contain;
    color: aliceblue;
    width: 15vw;
    height: 4vw;
    margin-top: 2vw;
    margin-left: 3vw;
    margin-right: 2vw;
}

.line {
    width: 95%;
    padding: 0.05vw;
    margin: 0.5vw 0;
    margin-top: 1.5vw;
    background-color: aliceblue;
}

.bottom {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.2vw;
}

.useTerms, .Privacity, .Cookies {
    height: 2.5vw;
    font-size: 1.2vw;
    color: aliceblue;
    font-weight: 300;
    display: flex;
    justify-content: flex-start;
    border: 0;
}

.useTerms {width: 12vw;}
.Privacity {width: 16vw;}
.Cookies {width: 12vw;}

.useTerms :hover {
    font-size: 1.3vw;
}

.bottom p {margin-right: 8%; color: aliceblue; font-size: 1.3vw; margin-left: 2%;}
.bottom button {
    background: none;
    align-self: center;
    margin-left: 7%;
    transition: 0.2s;
}

.bottom button:hover {
    font-size: 1.26vw;
    transition: 0.2s;
}