.container {
  border: 0;
  margin: 0;
}

.main {
  width: 100%;
  height: 120vh;
  background-image: url('../public/Top_Wave.svg');
  background-repeat: no-repeat;
  background-size:cover;
}

.logo {
  background-image: url('../public/Yume_logo.svg');
  background-repeat: no-repeat;
  background-size:contain;
  height: 100%;
}

.Toolbox {
  padding-top: 2em;
  margin: 0 4em 0 4em;
  display: grid;
  grid-template-columns: 2fr 2fr;
  height: 5em;
}

.Toolbox button {
  font-family: 'Poppins';
  font-weight: 500;
  border: none;
  letter-spacing: 0.09em;
  background:none;
  color: aliceblue;
  font-size: 1em;
}

.Toolbox .login {
  border: none;
  font-weight: bold;
  border-radius: 5px;
  background-color: #fff;
  color: #444444;
  font-size: 1em;
  padding: 0em 4em;
  margin-left: 6em;
  letter-spacing: 0.05em;
}

.buttonSection {
  display: flex;
  height: 100%;
}

.buttonSection button {
  margin-left: 1.5em;
}

.grid {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.block1 {
  display: flex;
  flex-direction: column;
  justify-self: center;
  margin-top: 14em;
  font-weight: 700;
  width: 50%;
  margin-left: 5em;
}

.block1 p {
  color: #444;
  font-size: 1.2em;
  font-family: 'Poppins';
  letter-spacing: 0.01px;
}

.Text2 {
  color:"#444"; 
  font-weight:400;
  margin-bottom: 2em;
}

.block1 .mainText {
  font-size: 3.5em;
  line-height: 1.3em;
}

.block1 button {
  margin-top: 2em;
  width: 35%;
  margin: 0;
  background-color: #A561C5;
  color: #fff;
  padding: 0.6em 2em;
  border: 0;
  border-radius: 5px;
  font-size: 1.5em;
}

.block2 {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.block2 .VR_Image {
  background-image: url('../public/VR_Image.svg');
  background-repeat: no-repeat;
  background-size:contain;
  padding: 5em;
  height: 100%;
  margin-top: 8em;
  margin-left: 3em;
}

.block2 .Informations {
  width: 10%;
  height: 15%;
  border-radius: 5em;
  border: 0;
  background-color: #5393C0;
  color: #fff;
  font-size: 2.5em;
  margin-left: 12em;
}

.Video {
  display: flex;
  margin-left: 5em;
}

.Video button {
  border-radius: 5em;
  width: 2.5em;
  height: 2.5em;
  margin-right: 1em;
  border: 0.12em solid #5393C0;
  color:#5393C0;
  font-weight: bold;
  font-size: 1.5em;
  background-color: #fff;
}

.appExample {
  display: flex;
  width: 100%;
}
.cellphone {
  display: flex;
  width: 50%;
}

.topWaveDetail {
  background-image: url('../public/Vector_344.svg');
  background-repeat: no-repeat;
  background-size:contain;
  width: 30%;
  height: 100%;
}

.squareDetail {
  background-image: url('../public/Square.svg');
  background-repeat: no-repeat;
  background-size:contain;
  width: 90%;
  height: 90vh;
}

.bottomWaveDetail {
  background-image: url('../public/Vector_344.svg');
  background-repeat: no-repeat;
  background-size:contain;
  width: 30%;
  height: 100%;
  transform: rotate(180deg);
}
